@model WebApplication1.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="card">
    <h4 class="card-header">Employee Details</h4>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.MobileNo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MobileNo)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.JobTitle)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.JobTitle)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Salary)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Salary)
            </dd>
        </dl>
    </div>
</div>

<p class="mt-3">
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }, new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-secondary" })
</p>
